{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Create Note{% endblock %}

{% block body %}
    {{ parent() }}
    {# {{ form(form) }} #}
    {{ dump(tags) }}
    {# {{ dump(choices) }} #}

    <h1 class="text-info ml-2">Create Note</h1>
    <div class="row">
        <div class="col-6 ml-3">
            {{ form(form) }}
        </div>
    </div>


{% endblock %}
