{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {{ parent() }}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/single_note.css') }}" >
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" >
    {% endblock %}
    {# {{ dump(notes) }} #}

    <div class="app-title">
        <h1 class="text-info">Notes App</h1>
    </div>
    <hr/>
    <div class="ml-4">
        {% for note in notes %}

        <div class="note">

            <h2 class="note_title">{{note.title}}</h2>
            <div class="d-flex align-items-center">
                <h5 class="mr-3 note_h5">Day Posted: </h5>
                <h6>{{note.datePosted | date}}</h6>
            </div>

            <div class="d-flex align-items-center">
                <h5 class="mr-3 note_h5">Description:  </h3>
                <p>{{ note.description }}</p>
            </div>

            <button class="edit_note btn btn-success mr-2" 
                    onclick="window.location.href='{{ path('edit_note', { id: note.id }) }}'" 
            >Edit</button>

            {% if not (note.isActive) %}
                <span class="text-danger ml-5">Note removed</span>
                <button class="edit_note btn btn-info ml-4" 
                        onclick="window.location.href='{{ path('restore_note', { id: note.id }) }}'" 
                >Restore Note</button>
                
            {% endif %}

            {% if (note.isActive) %}
                <button class="edit_note btn btn-danger" 
                        onclick="window.location.href='{{ path('delete_note', { id: note.id }) }}'" 
                >Delete</button>
            {% endif %}
        
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
